In [3]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
a=input("Enter your first name: ")
b=input("Enter your last name: ")
c=input("University: ")
d=int(input("Enter USN: "))
e=input("Enter Semester: ")

Enter your first name: Amrutha
Enter your last name: V
University: DSU
Enter USN: 0008
Enter Semester: 7th sem